dataset:
  root_dir: "/work/data/depth/"
  index_path: "data/patch_index.parquet"
  edge_size: 128
  max_nodata_fraction: 0.2 # max nodata faction to be considered valid
  nan_fill_value: 0.0 # what to fill land pixels with
  mask_fraction: 0.80 # faction of masked pixels
  x_return_mode: "masked_plus_mask" # raw_plus_mask | masked_plus_mask
  rebuild_index: false # whether to rebuild the index file (opening and checking all images)
  enforce_validity: true # wether to drop patches with too much nodata - rebuild index after changing


split:
  val_fraction: 0.2

dataloader:
  batch_size: 16
  num_workers: 4
  shuffle: true
  pin_memory: true
